/* css for mobile view */



			body {
				background-color: #2b3a47;
				padding: 5px 25px;
  				font-size: 18px;
  				margin: 0;
			}

			* {
				box-sizing: border-box;
			}

			#content {
 				 margin: 0 auto; 
  				 max-width: 90%;
			}

			main {
                margin: 0 auto;
                display: block;
                text-align: center;
                font-size: 0.8rem;
                background-color: #ffffff;
			}
			
			img {
				max-width: 250px;
				height: auto;
			}

			.column {
				width: 100%;
				display: block;
				margin-bottom: 20px;
			}

			.card {
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
				padding: 16px;
				text-align: center;
				background-color: #f1f1f1;
			}
		
			
            
			h1 {
				font-family: 'Lemon', cursive;
				background-color: #e3d5b6;
				color:#2b3a47;
				flex: 50%;
				padding: 35px;
				letter-spacing: 2px;
            }
            
            h2 {
				font-family: 'Montserrat', sans-serif;
                color: #2b3a47; 
				text-align: center;
				padding: 10px 35px;
                margin: 25px 0px 0px 25px;
				letter-spacing: 1px;
				border-bottom-color: #2b3a47;

			}
			
		p {
				font-family: 'Montserrat', sans-serif;
				color: #2b3a47;
			}
		
			.header {
  				display: flex;
  				justify-content: space-between;
                align-items: center;
  				height: 85px;
  				padding-top: 5px;
			}
			
		
            
			nav ul {
  				list-style: none;
  				display: flex;
				grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
				font-family: 'Montserrat', sans-serif;
				  
 
			}

			nav, a{
  				font-size: 1em; 
  				color: #016c6c;
  				padding: 10px;
  				text-align: right;
				text-decoration: none;
				font-family: 'Montserrat', sans-serif;
			}

			nav a:hover {
  
  				height: 150px;
  				border-radius: 15px;
  				padding: 10px;
  				color: #E09F3E;
				text-decoration: underline;
			}

			footer {
				
                font-family: 'Montserrat', sans-serif; 
				font-size: 80%; 
				font-weight: 500;
  				text-align: center;
  				background-color: #e3d5b6;
				color:#2b3a47;
				padding: 25px;
            }
            
            .tag-line {
				color: #2b3a47;
			}

			.current-time {
				color: #2b3a47;
			}