/*css for tablet view*/

@media only screen and (min-width: 37.5em) {
	/* Horizontal Menu Examples */
    /* Flex *********************/

    header,
    main,
    footer {
        display: flex;
    }
    .navigation {
		display: flex;
    }
    .navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
    }
    
    nav button {
        display: none;
    }

   

    nav ul { display: flex; }
    nav ul li { flex: 1 1 100%; }
   
    nav a {
        font-size: 1rem;
        padding: .8rem 1rem;
        }
    #logo {
        float: left;
    }  
    
}