/*css for desktop screen*/

@media only screen and (min-width: 60em) {

    h1 {
        font-size: 45px;
    }
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.page-title {
		width: 95%;
	}
	.forecast-container > .forecast-day {
		margin: 5px 40px;
	}
}