/*css for desktop screen*/

@media only screen and (min-width: 60em) {
   

    /*-- Navigation --*/
	

    #logo {
        width: 275px;
    }
    nav ul li a {
		font-size: 100%;
        
	}
    
/*-- Hero Image --*/
    .hero-image {
        
        background-color: #cccccc;
        height: 550px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
/*-- Call to Action --*/
    .join-action {
      bottom: 10%;
      padding: 15px 32px;
      font-size: 18px;
    }
      
    .page-title {
        padding: 25px;
        letter-spacing: 2px;
    }
/* -- Information Article --*/
    .info-photo {
        float: left;
        
        margin-top: 20px;
    }
    .info-article {
        padding: 100px;
    }
    /*--extended forecast --*/
    /*.forecast-container {
        padding: 50px;
    }
    .forecast-item {
        margin: 10px;
    }*/
    /*--current events--*/
    div.cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        grid-gap: 20px;
        text-align: center;
        margin: 20px auto;
      }
      section {
        display: grid;
        grid-template-columns: 1fr;
        border: 1px solid rgb(124, 124, 124);
        text-align: center;
        
    }
    .cards img {
        align-content: center;
    }
    section img {
      height: 160px;
    }
   
   
  
   .current-events {
     margin-bottom: 20px;
     padding: 75px 30px;
   }
   .events-photo {
     width: 300px;
   }

    /*-- Featured Business --*/
    
    .featuredCard {
      padding-bottom: 5px;
      margin: 0 auto;
      font-size: 88%;
    }
    .featuredCard-image {
      width: 100%;
    }
    /*-- Business Form --*/
    .business-form {
      text-align: left;
  }

      /*-- Footer Section--*/
    .location-Map {
        padding: -75vw;
          
      }
      /*--Contact Info Section --*/
      .social {
          width: 35px;
      }

    
}