/*css for desktop screen*/

@media only screen and (min-width: 60em) {
   

    /*-- Navigation --*/

    #logo {
        width: 275px;
    }
    nav ul li a {
		font-size: 100%;
        
	}
    
/*-- Hero Image --*/
    .hero-image {
        
        background-color: #cccccc;
        height: 550px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
/*-- Call to Action --*/
    .join-action {
      bottom: 10%;
      padding: 15px 32px;
      font-size: 18px;
    }
      
    .page-title {
        padding: 25px;
        letter-spacing: 2px;
    }
/* -- Information Article --*/
    .info-photo {
        float: left;
        
        margin-top: 20px;
    }
    .info-article {
        padding: 100px;
    }
    /*--extended forecast --*/
    .forecast-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
       
    }
    .forecast-item {
        margin: 10px;
    }
   
    /*--current events--*/
    
   .current-events {
     width: 100%;
     padding: 20px 4vw;
      
   }
   .events-photo {
    width: 250px;
    margin: 1vw;
   
     
   }
/*--Thank you --*/
   .thanks-photo {
     width: 250px;
   }
/*-- Contact Us Page--*/
   .contact-photo {
    width: 475px;
  }
  .contact-article {
    padding: 20px;
  }

    /*-- Featured Business --*/
    
    .featuredCard {
      padding-bottom: 5px;
     /* margin: 0 auto;*/
      font-size: 88%;
    }
    .featuredCard-image {
      width: 100%;
    }
    /*-- Forms --*/
    .business-form, .contact-form {
      text-align: left;
  }

  /*-- Business Directory --*/
    .cardDirectory {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 20px;
}

      /*-- Footer Section--*/
    .location-Map {
        padding: -75vw;
          
      }
      /*--Contact Info Section --*/
      .social {
          width: 35px;
      }

    
}